.buttonRow {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

button {
    margin: 5px;
    padding: 5px;
    width: 50px;
}

.main {
    margin: 10px;
    padding: 10px;
    font-size: 19px;
    justify-content: center;
    alignment: center;
    align-content: center;
}
